.elementor-41 .elementor-element.elementor-element-2e53686 > .elementor-container{max-width:1500px;}.elementor-41 .elementor-element.elementor-element-2e53686{padding:0px 0px 0px 0px;}.elementor-41 .elementor-element.elementor-element-c0c5133{text-align:center;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-menu-toggle{margin:0 auto;background-color:rgba(2, 1, 1, 0);}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu .elementor-item{font-family:"Gilroy", Sans-serif;font-size:15px;font-weight:900;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFFFF;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-underline .elementor-item:after,
					 .elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-overline .elementor-item:before,
					 .elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-double-line .elementor-item:before,
					 .elementor-41 .elementor-element.elementor-element-ee90e05 .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown a, .elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-menu-toggle{color:#FFFFFF;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown{background-color:#023A60;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown .elementor-item, .elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown  .elementor-sub-item{font-weight:400;}.elementor-41 .elementor-element.elementor-element-ee90e05 div.elementor-menu-toggle{color:#FFFFFF;}.elementor-41 .elementor-element.elementor-element-ee90e05 div.elementor-menu-toggle:hover{color:#7F97A9;}@media(min-width:768px){.elementor-41 .elementor-element.elementor-element-5d3f0e1{width:17.895%;}.elementor-41 .elementor-element.elementor-element-73b67e6{width:82.105%;}}@media(max-width:767px){.elementor-41 .elementor-element.elementor-element-2e53686{padding:5px 0px 5px 0px;}.elementor-41 .elementor-element.elementor-element-5d3f0e1{width:50%;}.elementor-41 .elementor-element.elementor-element-73b67e6{width:50%;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown .elementor-item, .elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--dropdown a{padding-top:10px;padding-bottom:10px;}.elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-41 .elementor-element.elementor-element-ee90e05 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:25px !important;}.elementor-41 .elementor-element.elementor-element-ee90e05 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:6px 0px 0px 0px;}}/* Start custom CSS for section, class: .elementor-element-2e53686 */.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-ExtraBold.woff2') format('woff2'),
		url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-Light.woff2') format('woff2'),
		url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-Light.woff') format('woff');
}
/* End Custom Fonts CSS */