.elementor-255 .elementor-element.elementor-element-76c77a3 > .elementor-container{max-width:1255px;}.elementor-255 .elementor-element.elementor-element-76c77a3:not(.elementor-motion-effects-element-type-background), .elementor-255 .elementor-element.elementor-element-76c77a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;background-image:url("http://creativedd.com.br/test/esacao/wp-content/uploads/2020/06/IMG_1059-e1584121823783.jpg");background-repeat:no-repeat;background-size:cover;}.elementor-255 .elementor-element.elementor-element-76c77a3 > .elementor-background-overlay{background-color:rgba(0, 0, 0, 0.88);opacity:0.4;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-255 .elementor-element.elementor-element-76c77a3 .elementor-background-overlay{filter:brightness( 86% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-255 .elementor-element.elementor-element-76c77a3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-255 .elementor-element.elementor-element-e166d19 > .elementor-element-populated{padding:0px 0px 0px 150px;}.elementor-255 .elementor-element.elementor-element-56fd998 .elementor-heading-title{color:#FFFFFF;font-size:45px;font-weight:900;line-height:1em;}.elementor-255 .elementor-element.elementor-element-953e4e4 .elementor-button{font-family:"Gilroy", Sans-serif;font-size:20px;font-weight:900;background-color:#003254;padding:25px 20px 25px 20px;}.elementor-255 .elementor-element.elementor-element-953e4e4 .elementor-button:hover, .elementor-255 .elementor-element.elementor-element-953e4e4 .elementor-button:focus{background-color:#7F97A9;}@media(max-width:767px){.elementor-255 .elementor-element.elementor-element-76c77a3{margin-top:-80px;margin-bottom:0px;padding:250px 0px 150px 0px;}.elementor-255 .elementor-element.elementor-element-e166d19 > .elementor-element-populated{padding:0px 20px 0px 30px;}.elementor-255 .elementor-element.elementor-element-56fd998 .elementor-heading-title{font-size:35px;}.elementor-255 .elementor-element.elementor-element-953e4e4 .elementor-button{font-size:16px;padding:15px 30px 15px 30px;}}/* Start custom CSS for heading, class: .elementor-element-56fd998 */.headline-banner .headline-smaller {
    font-size: 35px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-953e4e4 */@media only screen and (max-width: 768px) {
  .button-mobile {
    width: 100%;
}

.button-mobile .elementor-button {
    display: block;
}
  }
}/* End custom CSS */