.elementor-121 .elementor-element.elementor-element-541b076 > .elementor-container{min-height:450px;}.elementor-121 .elementor-element.elementor-element-541b076 > .elementor-container:after{content:"";min-height:inherit;}.elementor-121 .elementor-element.elementor-element-541b076:not(.elementor-motion-effects-element-type-background), .elementor-121 .elementor-element.elementor-element-541b076 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#003254;}.elementor-121 .elementor-element.elementor-element-541b076 .elementor-background-overlay{filter:brightness( 86% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-121 .elementor-element.elementor-element-541b076{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-150px;margin-bottom:0px;}.elementor-121 .elementor-element.elementor-element-541b076 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-121 .elementor-element.elementor-element-9c8b7ab{text-align:left;}.elementor-121 .elementor-element.elementor-element-9c8b7ab .elementor-heading-title{color:#FFFFFF;font-size:45px;font-weight:900;line-height:1em;}.elementor-121 .elementor-element.elementor-element-9c8b7ab > .elementor-widget-container{padding:100px 0px 0px 0px;}.elementor-121 .elementor-element.elementor-element-4150ccd:not(.elementor-motion-effects-element-type-background), .elementor-121 .elementor-element.elementor-element-4150ccd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F7;}.elementor-121 .elementor-element.elementor-element-4150ccd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:55px 0px 55px 0px;}.elementor-121 .elementor-element.elementor-element-4150ccd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tabs-wrapper{width:25%;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title, .elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title:before, .elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title:after, .elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-content, .elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-desktop-title.elementor-active{background-color:rgba(0, 50, 84, 0);}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tabs-content-wrapper{background-color:rgba(0, 50, 84, 0);}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title, .elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title a{color:#FFFFFF;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title.elementor-active a{color:#FFFFFF;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-title{font-family:"Gilroy", Sans-serif;font-size:20px;font-weight:900;}.elementor-121 .elementor-element.elementor-element-0456a03 .elementor-tab-content{color:#1D1D1B;font-family:"Gilroy", Sans-serif;font-size:18px;letter-spacing:0.3px;}@media(max-width:767px){.elementor-121 .elementor-element.elementor-element-541b076{margin-top:-120px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-121 .elementor-element.elementor-element-9558488 > .elementor-element-populated{padding:0px 20px 0px 30px;}.elementor-121 .elementor-element.elementor-element-9c8b7ab{text-align:left;}.elementor-121 .elementor-element.elementor-element-9c8b7ab .elementor-heading-title{font-size:35px;}}/* Start custom CSS for heading, class: .elementor-element-9c8b7ab */.headline-banner .headline-smaller {
    font-size: 35px;
}/* End custom CSS */
/* Start custom CSS for tabs, class: .elementor-element-0456a03 */.tabs .headline-detail {
    font-size: 45px;
    font-weight: 900;
    color: #7f97a9;
}

.tabs .title-aba {
    color: #1D1D1B;
    font-size: 45px;
    font-weight: 900;
}

.tabs .subtitle-aba {
    font-size: 25px;
    font-weight: 900;
    color: #1D1D1B;
}

.tabs .elementor-tab-title {
    background: #003254;
    padding: 40px 45px;
    text-align: center;
    margin-bottom: 25px;
}

.tabs .elementor-tab-title.elementor-active {
    background: #7F97A9 !important;
    padding: 40px 45px;
}

.tabs .elementor-tab-content {
    background-color: #F7F7F7 !important;
    padding-left: 50px;
    padding-top: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-ExtraBold.woff2') format('woff2'),
		url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-Light.woff2') format('woff2'),
		url('http://creativedd.com.br/test/esacao/wp-content/uploads/2020/05/Gilroy-Light.woff') format('woff');
}
/* End Custom Fonts CSS */